
@{
    ViewData["Title"] = "Welocome";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/Manager.css" />
<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>
                    Welocome 
                </span>
            </h2>
        </div>
        <p style="font-size: 25px">
            <b>
                Welcome to the manager's area of the Joice website.<br>
                Here you can add to the site everything you want, new flavors especially for our customers,<br>
                changing details of existing flavors, promotions, orders placed, watching the prediction of <br>
                buying ice cream and a sales graph.<br>
                So come on let's get started ;)
            </b> 
        </p>
    </div>
</section>


