
@{
    ViewData["Title"] = "About";
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />



    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,500,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

    <!-- about section -->
    <section class="about_section layout_padding">
        @*<div class="bg-img">
            <img src="~/images/about-bg.png" alt="">
        </div>*@
        <div class="container">
            <div class="about_container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="img-box">
                            <img src="~/images/back11.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 ">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    <span>
                                        OUR MISSION
                                    </span>
                                </h2>
                            </div>
                            <p>                                
                                We’re devoted to making better ice creams and bringing people together. It’s what gets us out of bed in the morning and keeps us up late at night. 
                                We believe that you can grow a business as a community of people, with artful attention to detail and the customer experience, and get continuously better at the same time. 
                                That REALLY great ice cream served perfectly in a sparkling and beautiful space, with attentive and in-the-moment service (we believe service is an art) brings people together and helps them connect. 
                                And that sometimes sparks fly. And that there should be more sparks flying, generally. 
                                We like to make people feel good.
                            </p>
                            @*<a href="">
                                Read More
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
