
@{
    ViewData["Title"] = "Successful";
}

<h1>Your order completed successfully</h1>
<h2>Thank you for choosing Joice</h2>
<div>
    <a asp-action="Create">I Want To Make Another Order</a>
</div>


